PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
JWT_SECRET=your-secret-key-here
CLIENT_URL=http://localhost:3000
CLIENT_URL_PROD=https://your-frontend.vercel.app
NODE_ENV=development
